body {
  text-align: center;
  background-color: #393E46;
}

h1 {
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #4ECCA3;
  text-shadow: 5px 0 0 #232931;
}

p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  color: #4ECCA3;
}

img {
  max-width: 100%;
  height: 200px;
  width: 200px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
}

.players {
  display: inline-block;
  margin: 25px;
  margin-bottom: 50px;
}
